# Extração de Dados do ENEM

In [1]:
import pandas as pd
import numpy as np
import zipfile 
import requests 
from io import BytesIO
import os

In [3]:
os.makedirs('./enem2019', exist_ok = True)

In [4]:


myzip= zipfile.ZipFile("./MINAS_ENEM_2019.zip")
myzip.extractall("./enem2019")

In [19]:
enem = pd.read_csv("./enem2019/MINAS_ENEM_2019.csv", sep = ',', decimal = ',',encoding='utf-8')

In [20]:
enem[['NU_NOTA_MT']].describe()

       NU_NOTA_MT
count      393872
unique       5713
top         456.3
freq          171

In [38]:
# Questão 1 
enem.NU_NOTA_MT.astype('float64').mean()

546.7962076512125

In [37]:
# Questão 2 
enem.NU_NOTA_LC.astype('float64').mean()

531.2155500475544

In [41]:
# Questão 3 

enem.loc[
    enem.TP_SEXO == "F"
].NU_NOTA_CH.astype('float64').mean()

515.1270983575349

In [43]:
#Questão 4
enem.loc[
    enem.TP_SEXO == "M"
].NU_NOTA_CH.astype('float64').mean()

529.6982704731574

In [47]:
# Questão 5
enem.loc[
    (enem.TP_SEXO == "F") & (enem.NO_MUNICIPIO_RESIDENCIA == "Montes Claros")
].NU_NOTA_MT.astype('float64').mean()

525.4776724249901

In [45]:
enem

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,1044,190001005671,2019,3170206,Uberlândia,31,MG,21,M,1,...,B,A,A,D,A,A,D,B,B,B
1,5234,190001009861,2019,3111705,Canaã,31,MG,20,M,1,...,A,A,A,B,A,A,C,A,A,A
2,16995,190001021622,2019,3104007,Araxá,31,MG,24,M,1,...,A,A,A,C,B,A,C,A,A,B
3,22008,190001026636,2019,3106200,Belo Horizonte,31,MG,33,M,1,...,B,A,B,B,A,A,D,A,D,B
4,22114,190001026742,2019,3162401,São João da Ponte,31,MG,23,M,1,...,A,A,A,B,B,A,C,A,B,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538891,5095256,190006120182,2019,3170107,Uberaba,31,MG,59,F,2,...,A,A,A,B,A,A,C,A,B,B
538892,5095257,190006120183,2019,3162708,São João do Paraíso,31,MG,33,F,0,...,B,A,A,B,A,A,B,A,B,B
538893,5095258,190006120184,2019,3112604,Capinópolis,31,MG,18,F,1,...,B,A,B,D,B,B,D,A,B,B
538894,5095259,190006120185,2019,3154606,Ribeirão das Neves,31,MG,22,F,2,...,B,A,A,B,A,A,C,A,A,B
538895,5095260,190006120186,2019,3106705,Betim,31,MG,37,F,1,...,A,A,A,C,B,A,D,A,B,B

In [50]:
# Questão 6

enem.loc[
    (enem.NO_MUNICIPIO_RESIDENCIA == "Sabará") & (enem.Q021=="B")
].NU_NOTA_MT.astype('float64').mean()

543.2927556818183

In [51]:
# Questão 7 
enem.loc[
     (enem.Q016=="C")
].NU_NOTA_CH.astype('float64').mean()

557.2765986394558

In [52]:
# Questão 8
enem.loc[
     (enem.Q002=="G")
].NU_NOTA_MT.astype('float64').mean()

620.007062070985

In [82]:
# Questão 9
enem.loc[
     (enem.NO_MUNICIPIO_RESIDENCIA=="Conselheiro Lafaiete Belo Horizonte") 
].NU_NOTA_MT.astype('float64').mean()

nan

In [71]:
# Questão 10 

enem.loc[
    
   enem.Q005 == 1   
    
].NU_NOTA_CH.astype('float64').mean()

534.4573388609205

In [73]:
# Questão 11
enem.loc[
    
   (enem.Q001 == "G") &  (enem.Q006 == "M")  
    
].NU_NOTA_CH.astype('float64').mean()

586.7231663685159

In [74]:
# Questão 12

enem.loc[
    
   (enem.NO_MUNICIPIO_RESIDENCIA == "Lavras") &  (enem.TP_SEXO == "F")  &  (enem.TP_LINGUA==1)
    
].NU_NOTA_MT.astype('float64').mean()

510.80950782997775

In [75]:
# Questão 13

enem.loc[
    
   (enem.NO_MUNICIPIO_RESIDENCIA == "Ouro Preto") &  (enem.TP_SEXO == "M")
].NU_NOTA_MT.astype('float64').mean()

555.0832520325198

In [77]:
# Questão 14

enem.loc[
    
   (enem.IN_SURDEZ == 1) 
].NU_NOTA_CH.astype('float64').mean()

435.38796296296283

In [95]:
# Questão 15
# Qual é a nota média em Matemática dos alunos do sexo FEMININO,
#que moram em Belo Horizonte, Sabará, Nova Lima e Betim e possuem dislexia?

enem.loc[
    
   (enem.IN_DISLEXIA == 1) & (enem.TP_SEXO == "F") & (enem.NO_MUNICIPIO_RESIDENCIA=="Sabará") 
].NU_NOTA_MT.astype('float64').mean()

nan